
.main{
    display: inline-block;
    height: 5200px;
    
}

.main1{
   display: inline-block;   
   margin-top: -40px;
   margin-left: 80px;
   font-size: 30px;
   
   
}

nav>p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bolder;
    margin-top: -40px;
    margin-left: 15px;
    word-spacing: 10px;
    
}

.main2:hover{
     color: lawngreen;
     
}

.main3:hover{
    color: lawngreen;
}

.main1>p:hover{
    background-color: aqua;
    width: 150px;
}


ul>li:hover{
    background-color: dodgerblue;
}




.main2{
    display: inline-block;
     color:orangered;
     font-family: Arial, Helvetica, sans-serif;
}

.main3{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

.main4{
    position: absolute;
    height: 50px;
    margin-left: 1150px;
    margin-top: -60px;
}

ul{
   margin-left: 700px;
   margin-top: -60px;
}

li{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    display: inline-block;
    list-style: none;
}

nav>ul>li>a{
    text-decoration: none;
    color: black;   
}

.heading{
    margin-top: 100px;
    margin-left: 80px;
}


.heading1{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: orangered;
    font-size: 50px;
}

.heading2{
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 50px;
    margin-left: 10px;
    color: darkslategray;
}

.heading3{
    margin-top: -30px;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 50px;
    color: darkslategray;

}

.para1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: dimgray  ;
}

.para2{
    margin-top: -10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: gray ;
}

.select1{
    height: 40px;
    width: 170px;
    margin-top: -20px;
    padding: 0.5%;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

.select2{
    height: 40px;
    width:  450px;
    margin-left: -4px;
    
}

input::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: medium;
    padding: 3%;
}

.box{
    position: absolute;
    height: 500px;
    width: 360px;
    background-color: black;
    margin-left: 820px;
    margin-top: -420px;
    border-radius: 20px;
}

.box>h1:hover{
    color: yellow;
}



.box>h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}




.box1{
    height: 40px;
    width: 310px;
    margin-left: 20px;
    border-radius: 10px;
    outline-style: none;
}

.box1::placeholder{
    font-size: 18px;
    font-weight: normal;
}

.box2{
    width: 200px;
    position: absolute;
    display: inline-block;
    color: red;
    margin-left: -305px;
    margin-top: 48px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.box3{
    height: 40px;
    width: 310px;
    margin-left: 20px;
    border-radius: 10px;
    margin-top: 20px;
    outline-style: none;
}

.box3::placeholder{
    font-size: 18px;
    font-weight: normal;
    
}

.box4{
    height: 45px;
    margin-left: 25px;
    width: 310px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 18px;
    color: darkslategrey;
    outline-style: none;
}

.box4>option{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.box5{
    width: 200px;
    position: absolute;
    display: inline-block;
    color: red;
    margin-left: -305px;
    margin-top: 68px;
    font-family: Arial, Helvetica, sans-serif;
    outline-style: none;
}

.box6{
    height: 45px;
    margin-left: 25px;
    width: 310px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 18px;
    color: darkslategrey;
    outline-style: none;
}

.box6>option{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;    
}

.box7{
    height: 40px;
    width: 300px;
    margin-left: 28px;
    border-radius: 10px;
    outline-style: none;
    margin-top: 20px;
}

.box7::placeholder{
    font-size: 18px;
    font-weight: normal;
}

.box8{
    height: 60px;
    width: 310px;
    margin-left: 28px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: orangered;
    color: white;
}

.box8:hover{
    background-color: magenta;
}




.second{
     margin-top: 200px;
     text-align: center;
     
     
     
}

.second>h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.second>p{
    font-family: Arial, Helvetica, sans-serif;
}

.second1{
    display: inline-block;
    position: relative;
    height: 120px;
    width: 120px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-top: 30px;
    border: 1px solid;
    transition: 1s;
    
}

.second1:hover{
    background-color: lightblue;
    transform: scale(1.2);
}

.second2{
    display: inline-block;
    height: 120px;
    width: 120px;
    background-color: whitesmoke;
    margin-left: 5px;
    border-radius: 10px;
    margin-top: 30px;
    border: 1px solid;
    transition: 1s;
}

.second2:hover{
    background-color: lightblue;
    transform: scale(1.2);
}

.second3{
    display: inline-block;
    height: 120px;
    width: 120px;
    background-color: whitesmoke;
    margin-left: 5px;
    border-radius: 10px;
    margin-top: 30px;
    border: 1px solid;
    transition: 1s;
}

.second3:hover{
    background-color: lightblue;
    transform: scale(1.2);
}


.second4{
    display: inline-block;
    height: 120px;
    width: 120px;
    background-color: whitesmoke;
    margin-left: 5px;
    border-radius: 10px;
    margin-top: 30px;
    border: 1px solid;
    transition: 1s;
}

.second4:hover{
    background-color: lightblue;
    transform: scale(1.2);
}
    
.second5{
    display: inline-block;
    height: 120px;
    width: 120px;
    background-color: whitesmoke;
    margin-left: 5px;
    border-radius: 10px;
    margin-top: 30px;
    border: 1px solid;
    transition: 1s;
}

.second5:hover{
    background-color: lightblue;
    transform: scale(1.2);
}

.second6{
    display: inline-block;
    height: 120px;
    width: 120px;
    background-color: whitesmoke;
    margin-left: 5px;
    border-radius: 10px;
    margin-top: 30px;
    border: 1px solid;
    transition: 1s;
}

.second6:hover{
    background-color: lightblue;
    transform: scale(1.2);
}

.second7{
    display: inline-block;
    height: 120px;
    width: 120px;
    background-color: whitesmoke;
    margin-left: 5px;
    border-radius: 10px;
    margin-top: 30px;
    border: 1px solid;
    transition: 1s;
}

.second7:hover{
    background-color: lightblue;
    transform: scale(1.2);
}

.second8{
    display: inline-block;
    height: 120px;
    width: 120px;
    background-color: whitesmoke;
    margin-left: 5px;
    border-radius: 10px;
    margin-top: 30px;
    border: 1px solid;
    transition: 1s;
}

.second8:hover{
    background-color: lightblue;
    transform: scale(1.2);
}

.png1{
    position: absolute;
    height: 45px;
    margin-left: -25px;
    margin-top: 10px;
    transition: 1s;
}




.png2{
    position: absolute;
    height: 45px;
    margin-left: -25px;
    margin-top: 10px;
}

.png3{
    position: absolute;
    height: 45px;
    margin-left: -25px;
    margin-top: 10px;
}

.png4{
    position: absolute;
    height: 45px;
    margin-left: -25px;
    margin-top: 10px;
}

.png5{
    position: absolute;
    height: 45px;
    margin-left: -25px;
    margin-top: 10px;
}

.png6{
    position: absolute;
    height: 45px;
    margin-left: -25px;
    margin-top: 10px;
}

.png7{
    position: absolute;
    height: 45px;
    margin-left: -25px;
    margin-top: 10px;
}

.png8{
    position: absolute;
    height: 45px;
    margin-left: -25px;
    margin-top: 10px;
}

.text1{
    position: absolute;
    height: 45px;
    margin-left: 10px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    font-size: medium;   
}

.text2{
    position: absolute;
    height: 45px;
    margin-left: 10px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    font-size: medium;   
}

.text3{
    position: absolute;
    height: 45px;
    margin-left: 10px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    font-size: medium;   
}

.text4{
    position: absolute;
    height: 45px;
    margin-left: 10px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    font-size: medium;   
}

.text5{
    position: absolute;
    height: 45px;
    margin-left: 10px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    font-size: medium;   
}

.text6{
    position: absolute;
    height: 45px;
    margin-left: 10px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    font-size: medium;   
}

.text7{
    position: absolute;
    height: 45px;
    margin-left: 10px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    font-size: medium;   
}

.text8{
    position: absolute;
    height: 45px;
    margin-left: 10px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    font-size: medium;   
}

.service>h1{
    font-family: Arial, Helvetica, sans-serif;
}

.service>p{
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 5px;
    margin-top: -10px;
}

image{
    position: relative;
}

.img1{
    position: absolute;
    height: 300px;
    width: 270px;
    margin-left: 80px;
    margin-top: 40px;
    border-radius: 20px;
    border: 1px solid;
    transition: 1s;
}

.img1:hover{
    height: 300px;
    width: 270px;
    transform: scale(1.1);
}


.img2{
    position: absolute;
    height: 300px;
    width: 270px;
    margin-left: 375px;
    margin-top: 80px;
    border-radius: 20px;
    border: 1px solid;
    transition: 1s;
}


.img2:hover{
    height: 300px;
    width: 270px;
    transform: scale(1.1);
}

.img3{
    position: absolute;
    height: 300px;
    width: 270px;
    margin-left: 670px;
    margin-top: 40px;
    border-radius: 20px;
    border: 1px solid;
    transition: 1s;
}


.img3:hover{
    height: 300px;
    width: 270px;
    transform: scale(1.1);
}


.img4{
    position: absolute;
    height: 300px;
    width: 270px;
    margin-left: 970px;
    margin-top: 80px;
    border-radius: 20px;
    border: 1px solid;
    transition: 1s;
}

.img4:hover{
    height: 300px;
    width: 270px;
    transform: scale(1.1);
}


.image1{
    position: relative;
    display: inline-block;
}

.img5{
    position: absolute;
    height: 300px;
    width: 270px;
    margin-left: 80px;
    margin-top: 380px;
    border-radius: 20px;
    border: 1px solid;
    transition: 1s;
}

.img5:hover{
    height: 300px;
    width: 270px;
    transform: scale(1.1);
}

.img6{
    position: absolute;
    height: 300px;
    width: 270px;
    margin-left: 375px;
    margin-top: 420px;
    border-radius: 20px;
    border: 1px solid;
    transition: 1s;
}


.img6:hover{
    height: 300px;
    width: 270px;
    transform: scale(1.1);
}

.img7{
    position: absolute;
    height: 300px;
    width: 270px;
    margin-left: 670px;
    margin-top: 380px;
    border-radius: 20px;
    border: 1px solid;
    transition: 1s;
}


.img7:hover{
    height: 300px;
    width: 270px;
    transform: scale(1.1);
}

.img8{
    position: absolute;
    height: 300px;
    width: 270px;
    margin-left: 970px;
    margin-top: 420px;
    border-radius: 20px;
    border: 1px solid;
    transition: 1s;
}


.img8:hover{
    height: 300px;
    width: 270px;
    transform: scale(1.1);
}


.image2{
    position: relative;
    display: inline-block;
}

.img9{
    position: absolute;
    height: 300px;
    width: 270px;
    margin-left: 80px;
    margin-top: 730px;
    border-radius: 20px;
    border: 1px solid;
    transition: 1s;
}

.img9:hover{
    height: 300px;
    width: 270px;
    transform: scale(1.1);
}

.img10{
    position: absolute;
    height: 300px;
    width: 270px;
    margin-left: 375px;
    margin-top: 770px;
    border-radius: 20px;
    border: 1px solid;
    transition: 1s;
}

.img10:hover{
    height: 300px;
    width: 270px;
    transform: scale(1.1);
}

.img11{
    position: absolute;
    height: 300px;
    width: 270px;
    margin-left: 670px;
    margin-top: 730px;
    border-radius: 20px;
    border: 1px solid;
    transition: 1s;
}

.img11:hover{
    height: 300px;
    width: 270px;
    transform: scale(1.1);
}

.img12{
    position: absolute;
    height: 300px;
    width: 270px;
    margin-left: 970px;
    margin-top: 770px;
    border-radius: 20px;
    border: 1px solid;
    transition: 1s;
}

.img12:hover{
    height: 300px;
    width: 270px;
    transform: scale(1.1);
}




.object{
position: relative;
margin-top: 95%;
}

.object>h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.object>h1:hover{
    color: blueviolet;
    
}

.object>p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.video1{
    width: 370px;
     height: 300px;
     border-radius: 10px;
     margin-left: 80px;
}

.title{
    position: absolute;
    margin-left: 100px;
    font-weight: bold;
    font-size: 18px; 
}

.title:hover{
     background-color: lightblue;
}

.title1{
    position: absolute;
    margin-left: 100px;
    margin-top: 60px;
}

.video2{
    width: 370px;
     height: 300px;
     border-radius: 10px;
     margin-left: 20px;
}

.title2{
    position: absolute;
    margin-left: 500px;
    font-weight: bold;
    font-size: 18px; 
}

.title2:hover{
    background-color: lightblue;
}


.title3{
    position: absolute;
    margin-left: 500px;
    margin-top: 60px;
}


.title4{
    position: absolute;
    margin-left: 900px;
    font-weight: bold;
    font-size: 18px; 
}

.title4:hover{
    background-color: lightblue;
}

.title5{
    position: absolute;
    margin-left: 900px;
    margin-top: 60px;
}

.video3{
    width: 370px;
     height: 300px;
     border-radius: 10px;
     margin-left: 20px;
}


.object1{
    position: relative;
    margin-top: 120px;
    
}

.object2{
    position: absolute;
    margin-left: 80px;
    height: 500px;
}

.object1>h1{
    position: absolute;
    margin-left: 600px;
    margin-top: 70px;
}

.object1>h1:hover{
    color: blue;
}

.object1>p{
    position: absolute;
    margin-left: 600px;
    margin-top: 120px;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 10px;
}

.horse{
    position: relative;
}

.object3{
    position: absolute;
    margin-left: 600px;
    margin-top: 200px;
}

.object4{
    position: absolute;
    margin-top: 210px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 650px;
    font-weight: bold;   
}

.object4:hover{
    background-color: aqua;
}

.horse1{
    position: relative;
}

.object5{
    position: absolute;
    margin-left: 600px;
    margin-top: 240px;
}

.object6{
    position: absolute;
    margin-top: 250px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 650px;
    font-weight: bold;   
}

.object6:hover{
    background-color: aqua;
}


.horse2{
    position: relative;
}

.object7{
    position: absolute;
    margin-left: 600px;
    margin-top: 280px;
}

.object8{
    position: absolute;
    margin-top: 290px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 650px;
    font-weight: bold; 
}

.object8:hover{
    background-color: aqua;
}

.horse3{
    position: relative;
}

.object9{
    position: absolute;
    margin-left: 600px;
    margin-top: 320px;
}

.object10{
    position: absolute;
    margin-top: 330px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 650px;
    font-weight: bold;   
}

.object10:hover{
    background-color: aqua;
}


.horse4{
    position: relative;
}

.object11{
    position: absolute;
    margin-left: 600px;
    margin-top: 360px;
}

.object12{
    position: absolute;
    margin-top: 370px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 650px;
    font-weight: bold;
}

.object12:hover{
    background-color: aqua;
}


.horse5{
    position: relative;
}

.object13{
    position: absolute;
    margin-left: 600px;
    margin-top: 400px;
}

.object14{
    position: absolute;
    margin-top: 410px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 650px;
    font-weight: bold;    
}

.object14:hover{
    background-color: aqua;
}

.horse6{
    position: relative;
}

.object15{
    position: absolute;
    margin-left: 600px;
    margin-top: 440px;
}

.object16{
    position: absolute;
    margin-top: 450px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 650px;
    font-weight: bold;  
}

.object16:hover{
    background-color: aqua;
}




.smart{
    height: 600px;
    width: 108%;
    background-color: gainsboro;
    margin-top: 700px;
}

.smart1{
    margin-left: 200px;
    margin-top: 50px;
}


.smart>h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 530px;
    margin-top: -320px;
    color: darkslategray;
}

.smart>p{
    margin-left: 530px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
    font-size: 18px;
}

.smart2{
    position: relative;
    margin-left: 530px;
}

.smart2:hover{
    border: 5px solid green;
    border-radius: 20px;
}

.smart3{
    margin-left: 740px;
    margin-top: -200px;
}

.smart4{
    margin-top: 138px;
}

.smart4:hover{
    border: 5px solid green;
    border-radius: 20px;
}

.smart6{
    height: 200px;
    margin-left: 1000px;
    margin-top: -200px;
}

.smart6:hover{
    border: 5px solid blueviolet;
    border-radius: 20px;
}

.smart5>p{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1050px;
}




.good>h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.good1{
    margin-left: 100px;
    margin-top: 40px;
}

.good2{
    margin-top: 40px;
}

.good3{
    margin-top: 40px;
}

.good4{
    margin-top: 40px;
}

.good5{
    margin-top: 40px;
}

.good6{
    margin-top: 40px;
}

.good7{
    margin-top: 40px;
}


.right1{
    margin-left: 100px;
    margin-top: 40px;
}

.right2{
    margin-top: 40px;
}

.right3{
    margin-top: 40px;
}

.right4{
    margin-top: 40px;
}

.right5{
    margin-top: 40px;
}

.right6{
    margin-top: 40px;
}

.right7{
    margin-top: 40px;
}



.wrong1{
    margin-left: 100px;
    margin-top: 40px;
}

.wrong2{
    margin-top: 40px;
}

.wrong3{
    margin-top: 40px;
}

.wrong4{
    margin-top: 40px;
}

.wrong5{
    margin-top: 40px;
}

.wrong6{
    margin-top: 40px;
}

.wrong7{
    margin-top: 40px;
}





.end{
    position: relative;
    height: 550px;
    width: 108%;
    margin-top: 100px;
    background-color: rgb(26, 23, 23);
}

.end1{
    position: absolute;
    color: orangered;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-left: 120px;
    margin-top: 60px;
}

.end1:hover{
    color: whitesmoke;
}

.end2{
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-left: 230px;
    margin-top: 60px;
}

.end2:hover{
    color: blue;
}

.end3{
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 130px;
    margin-top: 120px;
    font-size: 12px;
    word-spacing: 20px;
}

.end3:hover{
    color: palevioletred;
}

.end4{
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 130px;
    margin-top: 150px;
    font-size: 20px;
}

.end5{
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 130px;
    margin-top: 390px;
    font-size: 20px;
    font-weight: bold;
}

.end5:hover{
    background-color: red;
}

.end6{
    margin-top: 380px;
    margin-left: 250px;
    height: 40px;
}


.end7{
    position: absolute;
    margin-top: 375px;
    height: 50px;
    color: white;
}

.end8{
    margin-top: 380px;
    margin-left: 60px;
    height: 40px;
}

.end9{
    margin-top: 350px;
    margin-left: 0px;
    height: 40px;
}

.end10{
    margin-top: 380px;
    margin-left: 10px;
    height: 40px;
}


.ink{
    position: absolute;
    margin-left: 70px;
    color: white;
    display: inline-block;
    margin-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
    width: 140px;
    border-radius: 20px;
}

.ink:hover{
       color: chartreuse;
       border: 2px double blue;
}


.ink1{
    position: absolute;
    margin-left: 565px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -280px;
}

.ink1:hover{
    color: lightskyblue;
    text-decoration: underline 3px solid violet;
}

.ink2{
    position: absolute;
    margin-left: 565px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -250px;
}

.ink2:hover{
    color: lightskyblue;
    text-decoration: underline 3px solid violet;
}

.ink3{
    position: absolute;
    margin-left: 565px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -220px;
}

.ink3:hover{
    color: lightskyblue;  text-decoration: underline 3px solid violet;

}

.ink4{
    position: absolute;
    margin-left: 565px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -190px;
}

.ink4:hover{
    color: lightskyblue;  text-decoration: underline 3px solid violet;
}

.ink5{
    position: absolute;
    margin-left: 565px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -160px;
}

.ink5:hover{
    color: lightskyblue;  text-decoration: underline 3px solid violet;
}


.link{
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 780px;
    margin-top: -350px;
    width: 170px;
    border-radius: 20px;
}

.link:hover{
    color: chartreuse;
    border: 2px double blue;
}

.link1{
    position: absolute;
    color: white;
    margin-left: 780px;
    font-family: Arial, Helvetica, sans-serif;
}

.link1:hover{
    color: lightskyblue;  text-decoration: underline 3px solid violet;
}

.link2{
    position: absolute;
    color: white;
    margin-left: 780px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.link2:hover{
    color: lightskyblue;  text-decoration: underline 3px solid violet;
}

.link3{
    position: absolute;
    color: white;
    margin-top: 90px;
    margin-left: 780px;
    font-family: Arial, Helvetica, sans-serif;
}

.link3:hover{
    color: lightskyblue;  text-decoration: underline 3px solid violet;
}



.car{
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1000px;
    margin-top: -55px;
    width: 130px;
    border-radius: 20px;
}

.car:hover{
    color: chartreuse;
   border: 2px double blue;
}

.car1{
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1000px;
}

.car1:hover{
    color: lightskyblue;  text-decoration: underline 3px solid violet;
}

.car2{
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1000px;
    margin-top: 50px;
}

.car2:hover{
    color: lightskyblue;  text-decoration: underline 3px solid violet;
}


.car3{
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1000px;
    margin-top: 90px;
}

.car3:hover{
    color: lightskyblue;  text-decoration: underline 3px solid violet;
}

.car4{
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1000px;
    margin-top: 300px;
}

.car4:hover{
    border: 2px dotted yellowgreen;
    border-radius: 20px;  
}

.car5{
    position: absolute;
    height: 30px;
    margin-left: 1100px;
    margin-top: 295px;
    border: 1px solid white;
    border-radius: 50%;
}

.car6{
    position: absolute;
    height: 30px;
    margin-left: 1150px;
    margin-top: 295px;
    border: 1px solid white;
    border-radius: 50%;
}


footer{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -30px;
    color: white;
    margin-left: 120px;
    word-spacing: 10px;
    text-transform: capitalize;
}