
.main{
    display: inline-block;
    height: 4000px;
    
}

.main1{
   display: inline-block;   
   margin-top: -40px;
   margin-left: 80px;
   font-size: 30px;
   
   
}

nav>p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bolder;
    margin-top: -40px;
    margin-left: 15px;
    word-spacing: 10px;
    
}


.main2{
    display: inline-block;
     color:orangered;
     font-family: Arial, Helvetica, sans-serif;
}

.main3{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
   margin-left: 700px;
   margin-top: -60px;
}

li{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    display: inline-block;
    list-style: none;
}

nav>ul>li>a{
    text-decoration: none;
    color: black;   
}

.heading{
    margin-top: 100px;
    margin-left: 80px;
}


.heading1{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: orangered;
    font-size: 50px;
}

.heading2{
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 50px;
    margin-left: 10px;
    color: darkslategray;
}

.heading3{
    margin-top: -30px;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 50px;
    color: darkslategray;

}

.para1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: dimgray  ;
}

.para2{
    margin-top: -10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: gray ;
}

.select1{
    height: 40px;
    width: 170px;
    margin-top: -20px;
    padding: 0.5%;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

.select2{
    height: 40px;
    width:  450px;
    margin-left: -4px;
    
}

input::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: medium;
    padding: 3%;
}

.box{
    position: absolute;
    height: 500px;
    width: 360px;
    background-color: black;
    margin-left: 820px;
    margin-top: -420px;
    border-radius: 20px;
}

.box>h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}




.box1{
    height: 40px;
    width: 310px;
    margin-left: 20px;
    border-radius: 10px;
    outline-style: none;
}

.box1::placeholder{
    font-size: 18px;
    font-weight: normal;
}

.box2{
    width: 200px;
    position: absolute;
    display: inline-block;
    color: red;
    margin-left: -305px;
    margin-top: 48px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.box3{
    height: 40px;
    width: 310px;
    margin-left: 20px;
    border-radius: 10px;
    margin-top: 20px;
    outline-style: none;
}

.box3::placeholder{
    font-size: 18px;
    font-weight: normal;
    
}

.box4{
    height: 45px;
    margin-left: 25px;
    width: 310px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 18px;
    color: darkslategrey;
    outline-style: none;
}

.box4>option{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.box5{
    width: 200px;
    position: absolute;
    display: inline-block;
    color: red;
    margin-left: -305px;
    margin-top: 68px;
    font-family: Arial, Helvetica, sans-serif;
    outline-style: none;
}

.box6{
    height: 45px;
    margin-left: 25px;
    width: 310px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 18px;
    color: darkslategrey;
    outline-style: none;
}

.box6>option{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;    
}

.box7{
    height: 40px;
    width: 300px;
    margin-left: 28px;
    border-radius: 10px;
    outline-style: none;
    margin-top: 20px;
}

.box7::placeholder{
    font-size: 18px;
    font-weight: normal;
}

.box8{
    height: 60px;
    width: 310px;
    margin-left: 28px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: orangered;
    color: white;
}




.second{
     margin-top: 200px;
     text-align: center;
     
     
     
}

.second>h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.second>p{
    font-family: Arial, Helvetica, sans-serif;
}

.second1{
    display: inline-block;
    position: relative;
    height: 120px;
    width: 120px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-top: 30px;
    border: 1px solid;
}

.second2{
    display: inline-block;
    height: 120px;
    width: 120px;
    background-color: whitesmoke;
    margin-left: 5px;
    border-radius: 10px;
    margin-top: 30px;
    border: 1px solid;
}

.second3{
    display: inline-block;
    height: 120px;
    width: 120px;
    background-color: whitesmoke;
    margin-left: 5px;
    border-radius: 10px;
    margin-top: 30px;
    border: 1px solid;
}

.second4{
    display: inline-block;
    height: 120px;
    width: 120px;
    background-color: whitesmoke;
    margin-left: 5px;
    border-radius: 10px;
    margin-top: 30px;
    border: 1px solid;
}
    
.second5{
    display: inline-block;
    height: 120px;
    width: 120px;
    background-color: whitesmoke;
    margin-left: 5px;
    border-radius: 10px;
    margin-top: 30px;
    border: 1px solid;
}

.second6{
    display: inline-block;
    height: 120px;
    width: 120px;
    background-color: whitesmoke;
    margin-left: 5px;
    border-radius: 10px;
    margin-top: 30px;
    border: 1px solid;
}

.second7{
    display: inline-block;
    height: 120px;
    width: 120px;
    background-color: whitesmoke;
    margin-left: 5px;
    border-radius: 10px;
    margin-top: 30px;
    border: 1px solid;
}

.second8{
    display: inline-block;
    height: 120px;
    width: 120px;
    background-color: whitesmoke;
    margin-left: 5px;
    border-radius: 10px;
    margin-top: 30px;
    border: 1px solid;
}

.png1{
    position: absolute;
    height: 45px;
    margin-left: -25px;
    margin-top: 10px;
}

.png2{
    position: absolute;
    height: 45px;
    margin-left: -25px;
    margin-top: 10px;
}

.png3{
    position: absolute;
    height: 45px;
    margin-left: -25px;
    margin-top: 10px;
}

.png4{
    position: absolute;
    height: 45px;
    margin-left: -25px;
    margin-top: 10px;
}

.png5{
    position: absolute;
    height: 45px;
    margin-left: -25px;
    margin-top: 10px;
}

.png6{
    position: absolute;
    height: 45px;
    margin-left: -25px;
    margin-top: 10px;
}

.png7{
    position: absolute;
    height: 45px;
    margin-left: -25px;
    margin-top: 10px;
}

.png8{
    position: absolute;
    height: 45px;
    margin-left: -25px;
    margin-top: 10px;
}

.text1{
    position: absolute;
    height: 45px;
    margin-left: 10px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    font-size: medium;   
}

.text2{
    position: absolute;
    height: 45px;
    margin-left: 10px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    font-size: medium;   
}

.text3{
    position: absolute;
    height: 45px;
    margin-left: 10px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    font-size: medium;   
}

.text4{
    position: absolute;
    height: 45px;
    margin-left: 10px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    font-size: medium;   
}

.text5{
    position: absolute;
    height: 45px;
    margin-left: 10px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    font-size: medium;   
}

.text6{
    position: absolute;
    height: 45px;
    margin-left: 10px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    font-size: medium;   
}

.text7{
    position: absolute;
    height: 45px;
    margin-left: 10px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    font-size: medium;   
}

.text8{
    position: absolute;
    height: 45px;
    margin-left: 10px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    font-size: medium;   
}

.service>h1{
    font-family: Arial, Helvetica, sans-serif;
}

.service>p{
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 5px;
    margin-top: -10px;
}

image{
    position: relative;
}

.img1{
    position: absolute;
    height: 300px;
    width: 270px;
    margin-left: 80px;
    margin-top: 40px;
    border-radius: 20px;
    border: 1px solid;
}

/* .life{
    position: absolute;
    color: whitesmoke;
} */

.img2{
    position: absolute;
    height: 300px;
    width: 270px;
    margin-left: 375px;
    margin-top: 80px;
    border-radius: 20px;
    border: 1px solid;
}

.img3{
    position: absolute;
    height: 300px;
    width: 270px;
    margin-left: 670px;
    margin-top: 40px;
    border-radius: 20px;
    border: 1px solid;
}

.img4{
    position: absolute;
    height: 300px;
    width: 270px;
    margin-left: 970px;
    margin-top: 80px;
    border-radius: 20px;
    border: 1px solid;
}


.image1{
    position: relative;
    display: inline-block;
}

.img5{
    position: absolute;
    height: 300px;
    width: 270px;
    margin-left: 80px;
    margin-top: 380px;
    border-radius: 20px;
    border: 1px solid;
}

.img6{
    position: absolute;
    height: 300px;
    width: 270px;
    margin-left: 375px;
    margin-top: 420px;
    border-radius: 20px;
    border: 1px solid;
}

.img7{
    position: absolute;
    height: 300px;
    width: 270px;
    margin-left: 670px;
    margin-top: 380px;
    border-radius: 20px;
    border: 1px solid;
}

.img8{
    position: absolute;
    height: 300px;
    width: 270px;
    margin-left: 970px;
    margin-top: 420px;
    border-radius: 20px;
    border: 1px solid;
}


.image2{
    position: relative;
    display: inline-block;
}

.img9{
    position: absolute;
    height: 300px;
    width: 270px;
    margin-left: 80px;
    margin-top: 730px;
    border-radius: 20px;
    border: 1px solid;
}

.img10{
    position: absolute;
    height: 300px;
    width: 270px;
    margin-left: 375px;
    margin-top: 770px;
    border-radius: 20px;
    border: 1px solid;
}

.img11{
    position: absolute;
    height: 300px;
    width: 270px;
    margin-left: 670px;
    margin-top: 730px;
    border-radius: 20px;
    border: 1px solid;
}

.img12{
    position: absolute;
    height: 300px;
    width: 270px;
    margin-left: 970px;
    margin-top: 770px;
    border-radius: 20px;
    border: 1px solid;
}



.object{
position: relative;
margin-top: 95%;
}

.object>h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.object>p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.video1{
    width: 370px;
     height: 300px;
     border-radius: 10px;
     margin-left: 80px;
}

.title{
    position: absolute;
    margin-left: 100px;
    font-weight: bold;
    font-size: 18px; 
}

.title1{
    position: absolute;
    margin-left: 100px;
    margin-top: 60px;
}

.video2{
    width: 370px;
     height: 300px;
     border-radius: 10px;
     margin-left: 20px;
}

.title2{
    position: absolute;
    margin-left: 500px;
    font-weight: bold;
    font-size: 18px; 
}

.title3{
    position: absolute;
    margin-left: 500px;
    margin-top: 60px;
}


.title4{
    position: absolute;
    margin-left: 900px;
    font-weight: bold;
    font-size: 18px; 
}

.title5{
    position: absolute;
    margin-left: 900px;
    margin-top: 60px;
}

.video3{
    width: 370px;
     height: 300px;
     border-radius: 10px;
     margin-left: 20px;
}


.object1{
    position: relative;
    margin-top: 120px;
    
}

.object2{
    position: absolute;
    margin-left: 80px;
}

.object1>h1{
    position: absolute;
    margin-left: 600px;
    margin-top: 70px;
}

.object1>p{
    position: absolute;
    margin-left: 600px;
    margin-top: 120px;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 10px;
}

.object3{
    position: absolute;
    margin-left: 600px;
    margin-top: 200px;
}

.object4{
    position: absolute;
    margin-left: 600px;
    margin-top: 200px;
}